resources:
  - apiVersion: cert-manager.io/v1
    kind: ClusterIssuer
    metadata:
      name: fleet-demo
    spec:
      acme:
        email: simone.esposito@bitrock.it
        server: https://acme-v02.api.letsencrypt.org/directory
        privateKeySecretRef:
          name: fleet-demo-account-key
        solvers:
          - dns01:
              azureDNS:
                subscriptionID: {{ .Values | get "azure.subscriptionId" "subscriptionId" }}
                resourceGroupName: codemotion2024
                hostedZoneName: fleet-demo.bitrock.it
                # Azure Cloud Environment, default to AzurePublicCloud
                environment: AzurePublicCloud
                # optional, only required if node pools have more than 1 managed identity assigned
                managedIdentity:
                  # client id of the node pool managed identity (can not be set at the same time as resourceID)
                  clientID: {{ .Values | get "azure.userAssignedIdentityID" "userAssignedIdentityID" }}
                  # resource id of the managed identity (can not be set at the same time as clientID)
                  # resourceID: YOUR_MANAGED_IDENTITY_RESOURCE_ID
  - apiVersion: cert-manager.io/v1
    kind: Certificate
    metadata:
      name: fleet-demo
      namespace: demo
    spec:
      secretName: fleet-demo-key-pair
      issuerRef:
        name: fleet-demo
        kind: ClusterIssuer
      commonName: "fleet-demo.bitrock.it"
      dnsNames:
        - "fleet-demo.bitrock.it"
        - "*.fleet-demo.bitrock.it"
  - apiVersion: cert-manager.io/v1
    kind: Certificate
    metadata:
      name: fleet-demo
      namespace: waterstream
    spec:
      secretName: fleet-demo-key-pair
      issuerRef:
        name: fleet-demo
        kind: ClusterIssuer
      commonName: "fleet-demo.bitrock.it"
      dnsNames:
        - "fleet-demo.bitrock.it"
        - "*.fleet-demo.bitrock.it"
